* {
    text-align: right;
}

h2 {
    color: rgb(21, 226, 114);
    text-align: center;
    border: 5px dashed rgb(63, 35, 70);
    background-color: teal;
    cursor: pointer;
}

p {
    color: rgb(77, 60, 82);
    line-height: 20px;
    font-style: italic;
    font-weight: bold;
    font-size: 80%;
    font-family:Georgia, 'Times New Roman', Times, serif;


}


img {
    float: left;
    height: 100px;
    width: 100px;
}

footer {
    clear:both;
    text-align: center;
}
body {
    background-image: url(background.jpg);
    background-size: cover;
}

nav li {
    list-style: none;
    display: inline-block;
}

.webtext {
    border: 5px dashed green;
}

#content {
    background-color: rgb(160, 168, 214, 0.5);
}

#alignLeft {
    background-color: rgba(194, 153, 177, 0.5);

}